.wlk-date,
.wlk-datetime,
.number-input,
.wlk-password-input,
.wlk-select,
.wlk-text-area,
.wlk-text-input,
.wlk-time
{
    margin-bottom: 0.125rem;

    > label {
        margin-bottom: 0.25rem;

        > span {
            color: var(--wlk-red-5);
        }
    }

    > select,
    > input {
        padding: 0.5rem;
        border-style: var(--wlk-border-style);
        border-width: var(--wlk-border-width);
        border-radius: var(--wlk-border-radius);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    &.compact {
        > label {
            font-size: 1rem;
            line-height: 1.25rem;
            margin-bottom: 0.125rem;

            @media (--large-screen) {
                font-size: 0.75rem;
                line-height: 1rem;
            }
        }

        > select,
        > input {
            font-size: 1.25rem;
            line-height: 1.5rem;
            padding: 0.25rem;

            &:focus {
                padding: 0.25rem;
            }

            @media (--large-screen) {
                font-size: 1rem;
                line-height: 1.25rem;
            }
        }
    }
}