:root {
    --wlk-border-radius: 0.25rem;
    --wlk-border-top-left-radius: var(--wlk-border-radius);
    --wlk-border-top-right-radius: var(--wlk-border-radius);
    --wlk-border-bottom-left-radius: var(--wlk-border-radius);
    --wlk-border-bottom-right-radius: var(--wlk-border-radius);
    --wlk-border-style: solid;
    --wlk-border-top-style: var(--wlk-border-style);
    --wlk-border-right-style: var(--wlk-border-style);
    --wlk-border-bottom-style: var(--wlk-border-style);
    --wlk-border-left-style: var(--wlk-border-style);
    --wlk-border-width: 0.125rem;
    --wlk-border-top-width: var(--wlk-border-width);
    --wlk-border-right-width: var(--wlk-border-width);
    --wlk-border-bottom-width: var(--wlk-border-width);
    --wlk-border-left-width: var(--wlk-border-width);
}