/*Import Colours First*/
@import "partials/_colour_variables.css";

/*Secondary Variables*/
@import "partials/_border_variables.css";
@import "partials/_card_variables.css";
@import "partials/_checkbox_variables.css";
@import "partials/_input_variables.css";
@import "partials/_tab_variables.css";